{% extends 'base.html' %}
{% block content %}

<h1>Film List</h1>

{% for film in films %}
  <a href="{% url 'detail' film.id %}">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ film.name }}</span>
        <p>Breed: {{ film.breed }}</p>
        <p>Description: {{ film.description|linebreaks }}</p>
        {% if film.age > 0 %}
          <p>Age: {{ film.age }}</p>
        {% else %}
          <p>Age: Kitten</p>
        {% endif %}
      </div>
    </div>
  </a>
{% endfor %}

{% endblock %}