{% extends 'base.html' %}
{% block content %}

<h1>Film List</h1>

{% for film in films %}
  <a href="{% url 'detail' film.id %}">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ film.name }}</span>
        <p>Genre: {{ film.genre }}</p>
        <p>Plot: {{ film.plot|linebreaks }}</p>
        {% if film.year > 0 %}
          <p>Year: {{ film.year }}</p>
        {% else %}
          <p>Year: Kitten</p>
        {% endif %}
      </div>
    </div>
  </a>
{% endfor %}

{% endblock %}